[Unit]
Description=galaxy-ipam is a kubernetes scheduler extender, it's the master server for galaxy cni network plugin
After=network.target

[Service]
EnvironmentFile=-/etc/sysconfig/galaxy-ipam-config
ExecStart=/usr/bin/galaxy-ipam $ARGS
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
