[submodule "vendor/github.com/coreos/go-iptables"]
	path = vendor/github.com/coreos/go-iptables
	url = https://github.com/coreos/go-iptables
[submodule "vendor/github.com/vishvananda/netlink"]
	path = vendor/github.com/vishvananda/netlink
	url = https://github.com/vishvananda/netlink
[submodule "vendor/github.com/vishvananda/netns"]
	path = vendor/github.com/vishvananda/netns
	url = https://github.com/vishvananda/netns
[submodule "vendor/golang.org/x/sys"]
	path = vendor/golang.org/x/sys
	url = https://go.googlesource.com/sys
[submodule "vendor/github.com/containernetworking/cni"]
	path = vendor/github.com/containernetworking/cni
	url = https://github.com/containernetworking/cni
[submodule "vendor/github.com/golang/glog"]
	path = vendor/github.com/golang/glog
	url = https://github.com/golang/glog
[submodule "vendor/k8s.io/kubernetes"]
	path = vendor/k8s.io/kubernetes
	url = git+ssh://k8s.io/kubernetes
