/bin
.idea
*.iml
/go
/tools/route_monitor/route_monitor
/vendor/github.com/docker/distribution/contrib
/vendor/github.com/docker/distribution/docs
/vendor/github.com/emicklei/go-restful/examples
/vendor/github.com/opencontainers/runc/script/
/vendor/git.code.oa.com/gaia/tapp-controller/hack
/vendor/git.code.oa.com/gaia/tapp-controller/main.go
/vendor/git.code.oa.com/gaia/tapp-controller/pkg/signals
/vendor/git.code.oa.com/gaia/tapp-controller/pkg/tapp
/vendor/git.code.oa.com/gaia/tapp-controller/pkg/util
/.DS_Store
/vendor/**/docs
/vendor/**/*_test.go
/vendor/**/BUILD
/vendor/**/LICENSE*
/vendor/**/OWNERS
/vendor/**/README
/vendor/**/CHANGELOG
/vendor/**/VERSION
/vendor/**/NOTICE
/vendor/**/MAINTAINERS
/vendor/**/AUTHORS
/vendor/**/CONTRIBUTORS
/vendor/**/PATENTS
/vendor/**/Makefile
/vendor/**/*.tar
/vendor/**/*.md
/vendor/**/*.dat
/vendor/**/*.html
/vendor/**/*.sh
/vendor/**/*.bash
/vendor/**/*.pl
/vendor/**/*.cfg
/vendor/**/*.json
/vendor/**/*.xml
/vendor/**/*.yaml
/vendor/**/*.yml
/vendor/**/*.txt
/vendor/**/*.toml
/vendor/**/*.mod
/vendor/**/*.lock
/vendor/**/Dockerfile
/vendor/**/Vagrantfile
/vendor/**/.gitignore
/vendor/**/.gitattributes