[Unit]
Description=galaxy, networking daemon
After=network.target

[Service]
EnvironmentFile=-/etc/sysconfig/galaxy-config
EnvironmentFile=-/etc/kubernetes/kubelet
ExecStart=/usr/bin/galaxy -network-conf=${NETWORK_CONF} $ARGS ${KUBELET_API_SERVER}
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
